<table>
    <tr>
        <th>Rating</th>
        <th>Percentage</th>
    </tr>
    <tr>
        <td>Five Star</td>
        <td>{{.FiveStar}}</td>
    </tr>
    <tr>
        <td>Four Star</td>
        <td>{{.FourStar}}</td>
    </tr>
    <tr>
        <td>Three Star</td>
        <td>{{.ThreeStar}}</td>
    </tr>
    <tr>
        <td>Two Star</td>
        <td>{{.TwoStar}}</td>
    </tr>
    <tr>
        <td>One Star</td>
        <td>{{.OneStar}}</td>
    </tr>
    <tr>
        <td>Exempt</td>
        <td>{{.Exempt}}</td>
    </tr>
    <tr>
        <td>Awaiting Inspection</td>
        <td>{{.AwaitingInspection}}</td>
    </tr>
</table>


